{% extends "RobyulWebBundle:Default:base.html.twig" %}

{% block containerclass %}container-fluid{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <a href="https://p.datadoghq.com/sb/bde759469-fe3b1d3515" target="_blank">external link</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <iframe class="datadog-iframe" scrolling="no" src="https://p.datadoghq.com/sb/bde759469-fe3b1d3515"></iframe>
        </div>
    </div>
{% endblock %}

