{% extends "RobyulWebBundle:Default:base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-2">
            <img class="profile-big-avatar" src="{{ app.user.avatarUrl }}?size=256">
        </div>
        <div class="col-10">
            <h1>{{ app.user.discordUsername }}</h1>
            <p>Work In Progress...</p>
        </div>
    </div>
{% endblock %}
