{% extends "RobyulWebBundle:Default:base.html.twig" %}

{% block containerclass %}container-fluid{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 random-pictures-grid-container">
            {% for item in pictureHistoryItems %}
                <a href="{{ item.Link }}" target="_blank">
                    <img class="random-pictures-grid-item" src="{{ item.Link }}" alt="{{ item.Filename }}">
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
