# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    rethinkdb_host: localhost
    rethinkdb_port: 28015
    rethinkdb_database: Robyul2

    ga_tracking_id: ~

    uglifycss_bin: '/usr/local/bin/uglifycss'
    uglifyjs_bin: '/usr/local/bin/uglifyjs'
    node_bin: '/usr/bin/nodejs'

    redis_client: 'redis://localhost:6379'

    discord_client_id: 'yourclientid'
    discord_client_secret: 'yourclientsecret'

    sentry_dns: ~

    bot_default_prefix: '_'
    bot_user: 'Robyul#7030'
    bot_user_id: '283848369250500608'
    bot_webkey: 'your-secure-webkey'
    bot_invite_link: 'https://discordapp.com/oauth2/authorize?client_id=CLIENT_ID&scope=bot&permissions=0x00000000'
    bot_api_base_url: 'https://api.robyul.chat/'
    session_url: 'https://robyul.chat/session'