body {
    padding-top: 5rem;
}
.footer {
    margin-bottom: 1rem;
}
.arg {
    color: #031eff;
    background-color: #e0e0e0;
}
.opt-arg {
    color: rgba(40, 189, 61, 0.6);
    background-color: #e0e0e0;
}
.commands-card {
    margin-bottom: 1rem;
}
.patreon-nav > a > img {
    height: 30px;
}
.background-card {
    margin-bottom: 1rem;
}
.background-card > img {
    object-fit: cover; max-height: 300px; width: 100%;
}
.datadog-iframe {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2500px;
    border: none;
}
@media (min-width: 768px) {
    .patreon-nav {
        margin-left: 1rem;
    }
}

.gist-data {
    max-height: 500px;
}

.login-link {
    color: rgba(255, 255, 255, 0.5);
}
.login-link img {
    display: inline;
    padding: 0;
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
.profile-big-avatar {
    height: 128px;
    width: 128px;
    border-radius: 64px;
}

.profile-medium-avatar {
    height: 64px;
    width: 63px;
    border-radius: 32px;
}

.popover {
    max-width: 428px;
}

.ranking-jumbotron {
    text-align: center;
}

.ranking-big-icon {
    height: 128px;
    width: 128px;
    border-radius: 64px;
    vertical-align: bottom;
}

.ranking-server-title {
    display: inline;
    margin-left: 1rem;
}

.ranking-server-title small {
    font-size: 60%;
    color: #8e8e8e;
}

.ranking-big-global-icon {
    font-size: 6em !important;
    color: #8e8e8e;
}

.ranking-table-item img {
    margin-right: 1rem;
}

.ranking-table-item-inactive {
    color: #8e8e8e;
}

.ranking-table-item-inactive img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.ranking-table-row th small, .ranking-table-row td small {
    font-size: 60%;
    color: #8e8e8e;
}

.ranking-table-row th, .ranking-table-row td {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1;
    vertical-align: middle !important;
}

.server-tile-item {
    vertical-align: top;
    width: 128px;
    margin-bottom: 1rem;
    text-align: center;
}

.server-tile-item div {
    height: 2.5rem;
    overflow: hidden;
    margin-bottom: 0.2rem;
}
.server-tile-item div h5 {
    line-height: 1.25rem;
    margin-bottom: 0;
}

.backgrounds-nav {
    margin-bottom: 1rem;
}

.random-pictures-grid-sizer, .random-pictures-grid-item {
    width: 100%;
}
@media (min-width: 768px) {
    .random-pictures-grid-sizer, .random-pictures-grid-item {
        width: 25%;
    }
}
@media (min-width: 992px) {
    .random-pictures-grid-sizer, .random-pictures-grid-item {
        width: 20%;
    }
    .random-pictures-grid-container-fluid {
        margin-top: -1.1rem;
    }
}

.random-pictures-grid-row, .random-pictures-grid-row > .random-pictures-grid-container {
    padding-left: 0;
    padding-right: 0;
}

.statistics-counter {
    text-align: center;
}

.server-general-header {
    margin-bottom: 1rem;
    text-align: center !important;
}

#chatlog-around-messageid-form {
    margin-bottom: 1rem;
}

.chatlog-table td {
    font-size: 0.75rem;
}
.chatlog-table tr.selected {
    background-color: rgba(0,0,0,.065);
}
.chatlog-table tr.deleted {
    background-color: rgba(255,0,0,.065);
}

.profile-bar, .profile-bar .progress-bar {
    height: 2.5rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-bar .progress-bar {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.profile-bar-colour-1 {
    background-color: #007bff !important;
}
.profile-bar-colour-2 {
    background-color: #5cb85c !important;
}
.profile-bar-colour-3 {
    background-color: #ffc107!important
}
.profile-bar-colour-4 {
    background-color: #dc3545 !important;
}

#profile-bar-chart > .chart-container > .title {
    display: none;
}
#profile-bar-chart > .chart-container > .frappe-chart {
    margin-top: 0 !important;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
}
#profile-bar-chart > .chart-container > .graph-stats-container {
    margin: 0 0 !important;
}
#profile-bar-chart > .chart-container .progress {
    height: 2.5rem;
    margin-bottom: 5px;
}
#profile-bar-chart > .chart-container .progress-bar {
    margin-bottom: 5px;
}